* {
	margin:0;
	padding:0;
}
body {
	background-color:#C82932;
	padding-bottom: 150px;
}
header{
	width: 100%;
	border-top: 0px solid #C82932;
    position: ;
    top: 0;
    width: 100%;
    padding-top: 8px;
    background-color: #056795;

}

.infoBox li{
	color: #000;
	margin-left: 10px;
}
.searchBox form {
    background-color: #fff;
    -webkit-border-radius: 6px;
    border-radius: solid black 6px;
    margin: 7px;
    
}
.placeholder{
	font-size: 12px;
}
#search{
	width: 350px;
	height: 35px;
}

.inputField, .inputField:focus {
    border: 0;
    font-size: .85em;
    height: 24px;
    margin: 5px 0;
    padding: 5px 2%;
    width: 51%;
}
.menu_bar {
	display:none;
}
.submenu{
	float: left;
}
header nav ul {
	overflow:hidden;
	list-style:none;
	display: inline;
}
header div ul li{
	display:inline-block;
	position: ;
	/*float: left;*/
} 
header div nav {
	width:100%;
	max-width:1000px;
	margin:20px auto;
	background:#024959;
} 
header div nav ul li {
	display: inline-block;
	position: relative;
}
header div nav ul li:hover .children{
	display:block;	
}
header div nav ul li .children{
	display: none; 
	background: #011826;
	position:relative;
	width: 150%;
	z-index: 1000px;
}
header div nav ul li .children li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
header  div nav ul li .children li a{
	display: block;
} 
header div nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	/*background:#000;*/
}
header nav ul li a: {
	background:#037E8C;
}
a{
	text-decoration: none;
	color: #000;
}
i {
	color: #000;
}
.container{
	width: 100%;
	margin: 0;
	padding: 0;
}

#carrusel{
		float:left; 
		width:1583px; 
		overflow:hidden; 
		height:625px; 
		position:relative; 
		margin-top:20px;
	}
#carrusel .izquierda_flecha{
		position:absolute;
		left:15px; 
		z-index:1; 
		top:50%; 
		margin-top:-114px;
	}
#carrusel .derecha_flecha{
		position:absolute; 
		right:15px; 
		z-index:1; 
		top:50%; 
		margin-top:-114px;}
.carrusel{
		width:7000px;
		left:10px; 
		position:absolute; 
		z-index:0
	}
.carrusel div {
	    float: left;
	    height: 605px;
	    margin-right: 6px;
	   	width: 1585px;
	    text-align:center;
	   
			}
.carrusel .img_carrusel{cursor:pointer;}


.img_carrusel{
		width: 100%
		height:auto;
	}
 #carrousel .izquierda_flecha{
		position:absolute;
		left:10px; 
		z-index:1; 
		top:50%; 
		margin-top:-9px;
	}
#carrousel .derecha_flecha{
		position:absolute; 
		right:10px; 
		z-index:1; 
		top:50%; 
		margin-top:-9px;}
.derecha{
	  	-webkit-transform:scaleX(-1);
	    }
.LMV{
	text-align: center;
	margin: 40px;
}

.btn-verMas:hover{
	background-color: #005987;
    border-color: #000;
    color: #000!important;
}
ul li{
	list-style: none;

}
.price-price{
		color: red!important;
	    font-weight: 400;
	    float: left;
	    font-size: 20px;
    	/*height: 21px;
*/    	width: 60%;
		margin: 0;
}
.actual-price{
	    font-size: 20px;
		float: left;
		white-space: 15px;
		margin: 0;

}
footer{
	position: fixed;
	width: 100%;
	bottom: 5px;
	margin-left: 0;
	background-color: #024959;
	color:#000000;
	box-sizing: border-box;
	}

.part1, .part2, .part3, .part4, .part5{	
	padding-left: 35px;
	padding-bottom: 0px;
	display:inline-block;
	 }



@media screen and (max-width:800px ) {
	
header nav {
		width:100%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		z-index: 10000000000px;

	}
#carrusel{
	display: none;
}
.undercarr{
	display: none;
}
header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
		display: inline-block;
	}
.logoBox, .infoBox, .searchBox{
		display: none;
	}
 
.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
		position: fixed;
		top: 0;
		background: #e6344a;
	}
 
.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
.submenu{
 	float: none;
 }
.menu_bar span {
		float:right;
		font-size:40px;
	}
.header nav {
		width: 80%;
		height: calc(100% - 80px);
		position:fixed;
		left: 0;
		margin:0;
		z-index: 10000000px
	}
header nav ul li{
		display: block;
		border-bottom: 1px solid rgba(255,255,255,5);


	}
.menu_bar{
	z-index: 1000px;
}
header nav ul li a {
	display: block;
}
header nav ul li .children {
	width: 100%;
	position: relative;
	z-index: 1000000000000px;

}
}
